:root {
  /* Colors */
  --color-green: #23BE53;
  --color-black: #060608;
  --color-gray: #333333;
  --color-typography: #E7DFDD;
  
  /* Module sizes */
  --module-size--sm: 1rem; /* 16px */
  --module-size--md: 2rem; /* 32px */

  /* Typography */
  --font-sans: 'Inter', sans-serif;
  --display--md: 1.25rem;
  --display--xs: 3rem;
  --body--sm: 0.875rem;
}